:root {
    --branding-color: plum;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family:  "Poppins", sans-serif;
}

h1,h2,h3,h4 {
    color: black;
    font-family: var(--heading-font-family);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}
h1 {
    font-size: 96px;
    line-height: 1.5;
}
h2 {
    font-size: 64px;
}

p {
   font-family: var(--default-font-family);
   font-weight: normal; 
   font-size: 16px;
   line-height: 30px;
}

.heading {
    background: #f9f7fe;
    text-align: center;
    padding: 160px 20px;
}
.heading p {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: #272142;

}
.heading h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
}
.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 20px;
}
.btn-branding-outline{
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 20px;
}
.project-description{
    padding: 120px 60px 0;

}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--branding-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}


@media (max-width:960px) {
    h1 {
        font-size: 44px;
        line-height: 2;
    }
    h2 {
        font-size: 44px;
    
    }
    .heading {
        padding: 80px 20px;
}
    .project-description {
        padding: 0;
        text-align:center
    }
}



/*.playfair-display-{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
